html,
body {
  background-color: white;
  color: #333;
}

.seal {
  overflow: auto;
}
.image {
  float: left;
  padding: 10px;
}

.text {
  float: left;
}

.header {
  background-color: white;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

.navbar a.navbar-brand,
.navbar a.nav-link,
.navbar a.nav-link:visited {
  color: black;
}

.navbar a.nav-link:hover {
  background-color: black;
  color: white;
}

.header a.active {
  background-color: red;
  color: red;
}

.header-right {
  float: left;
}

.oconee-body {
  margin:0;
  padding:0;
  font-size: 25px;
}

.oconee-head {
  font-size: 40px;
  margin:0;
  padding:0;
}

hr {
    border: none;
    height: 3px;
    background-color: black; /* Modern Browsers */
}

.cardPane {
  background-color: #eee;
  color: black;
}

.cardPaneLeft{
  border-right: 1px solid rgb(77,55,41);
}

.cardPaneRight{
  border-left: 1px solid rgb(77,55,41);
}

.patientCard {
  margin: 4px;
  padding: 4px 8px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: white;
}
.patientCard .birthDate{
  float: right;
}

.patientCard .lastName {
  font-weight:bold;
}

.triageCritical {
  border: 5px solid #C00;
  background-color: #fee;
  margin: 8px 4px;
}

.triageUrgent {
  border: 3px solid rgb(209,140,76);
  margin: 8px 4px;
}

.triageMinor {
  border: 3px solid rgb(50,80,220);
  margin: 8px 4px;
}
